body{
    margin: 0;
    padding: 0;
}
.card-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-template-rows: 200px 200px 200px ;
   background-color: rgb(6, 6, 87);
   grid-gap: 20px;
   padding: 10px;
}
.card {
    padding: 10px;
}
.card1 {
    background-color: green;
    grid-column: 1/2;
    grid-row: 1/4;
}
.card2 {
    background-color: green;
    grid-column: 2/4;
    grid-row: 1/2;
}
.card3 {
    background-color: red;
    grid-column: 4/5;
    grid-row: 1/2;
}
.card4 {
    background-color: chocolate;
    grid-column: 2/3;
    grid-row: 2/3;
}
.card5 {
    background-color: red;
    grid-column: 3/4;
    grid-row: 2/3;
}
.card6 {
    background-color: green;
    grid-column: 4/5;
    grid-row: 2/4;
}
.card7 {
    background-color: red;
    grid-column:2/3;
    grid-row: 3/4;
}
.card8 {
    background-color: chocolate;
    grid-column:3/4;
    grid-row: 3/4;
}